*body{
    margin: 0;
    padding: 0;
    }
    
    .uzdengimas1{
        position: absolute;
        width: 70px;
        height: 90px;
        background-color: rgb(255, 255, 255);
        left: 421px;
    }
    .uzdengimas2{
        position: absolute;
        width: 70px;
        height: 92px;
        background-color: rgb(255, 255, 255);
        left: 421px;
        top: 155px;
    }
    
    .baterija{
        top: 5px;
        position: relative;
        border-radius:20px;
        text-align: center;
        width: 373px;
        height: 186px;
        border: 20px solid #070707
        
    }
    .taskiukas{
        border-radius: 10px;
        position: absolute;
        width: 50px;
        height: 50px;
        border: solid 20px;
        left: 405px;
        top: 80px;
    }
    .pirmas{
        position: absolute;
        width: 930px;
        height: 200px;
        left: 20px;
        top: -3px;
        z-index: -1;
    }
    .pirmas::before{
        content: '';
        position: absolute;
        width: 0px;
        height: 195px;
        
        background-color: #ff0606;
        left: 0px;
        top: 31px;
        animation: pirmas 10s infinite;
    }
    @keyframes pirmas{
        0%{
            width: 0%;
            background-color: #ff0606;
        }
        50%{
            width: 50%;
            background-color: #005c17;
        }