*body{
    margin: 0;
    padding: 0;
    }
    
    
    .baterija{
        
        border-radius:20px;
        text-align: center;
        width: 373px;
        height: 200px;
        border: 20px solid #070707
        
    
    }
    
    
    .taskiukas{
        border-radius: 10px;
        position: absolute;
        width: 10px;
        height: 50px;
        border: solid 20px;
        left: 405px;
        top: 80px;
    }
    .pirmas{
        position: absolute;
        width: 740px;
        height: 200px;
        left: 30px;
        top: 0px;
      
    
    }
    .pirmas::before{
        content: '';
        position: absolute;
        width: 0px;
        height: 195px;
        
        background-color: #ff0606;
        left: 0px;
        top: 31px;
        animation: pirmas 10s infinite;
    
        
    }
    @keyframes pirmas{
        0%{
            width: 0%;
            background-color: #ff0606;
        }
        50%{
            width: 50%;
            background-color: #005c17;
        }